@model IEnumerable<PassionProjectfinalIteration.Models.BassGuitar>

@{
    ViewBag.Title = "Bass Guitars";
}

<h2>Bass Guitars</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>Color</th>
        <th>Number of Strings</th>
        <th>Model</th>
        <th>Manufacturer</th>
        <th>Category</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Color)</td>
            <td>@Html.DisplayFor(modelItem => item.NumberOfStrings)</td>
            <td>@Html.DisplayFor(modelItem => item.Model)</td>
            <td>@Html.DisplayFor(modelItem => item.Manufacturer)</td>
            <td>@Html.DisplayFor(modelItem => item.Category.CategoryName)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>
